/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #1a1d20; /* fond sombre (c'est plus bô avec tes couleurs actuelles) */
    color: aliceblue;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column; 
    align-items: center;       /* centrage  */
    gap: 10px; 
    margin-bottom: 30px;
}
a {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    color: aliceblue;
    text-decoration: none;     /* underlines nuh hu */
    margin: 0;                 /* marges paragraphs */
}
p {
    background-color: rgba(33, 37, 41, 0.9);
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    color: aliceblue;
    text-decoration: none;     /* underlines nuh hu */
    margin: 0;                 /* marges paragraphs */
}

/* hover */
a:hover {
    background-color: rgba(52, 58, 64, 1);
}

/* pied de page + drapeau */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.drapeau {
    display: flex;             /* Aligne couleurs */
}

#bleu { height: 100px; width: 100px; background-color: blue; } 
#blanc { height: 100px; width: 100px; background-color: white; }
#rouge { height: 100px; width: 100px; background-color: red; }

.footer-text {
    background-color: rgba(33, 37, 41, 0.9);
    padding: 5px 15px;
    border-radius: 10px;
}
input[type="search"] {
    background-color: #000000; 
    color: white;
    border: 1px solid #444;
    padding: 8px 15px;
    border-radius: 20px;       /*ça  c'est les bords ronds mais jsp si ça colle au thème que tu veux */
    outline: none;
    width: 250px;              /* ça tu peux changer */
}

.container {
    display: flex;
    justify-content: space-between;
}