html {background-color: rgba(35, 39, 43, 0.9);
color: aliceblue;
height: fit-content;
width: fit-content;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
}

a{
text-decoration: none;
color: azure;
margin: 0 auto;
height: fit-content;
width: fit-content;
display: flex;
justify-content: center;
background-color: rgba(19, 19, 19, 0.9);
border-radius: 10px;
padding: 5px;
}

.text {background-color: rgba(33, 37, 41, 0.9);
border-radius: 10px;
padding: 5px;
color: aliceblue;
height: fit-content;
width: fit-content;
margin: 0 auto;
display: flex;
justify-content: center;
}

input[type="search"] {
background-color: #000000;
color: white;
border: 1px solid #444;
padding: 5px;
border-radius: 10px;
height: fit-content;
width: fit-content;
display: block;
margin: 0 auto;
color: aliceblue;
}

footer {
padding: 5px;
color: aliceblue;
display: flex;
justify-content: center;
}