html {background-color: rgba(35, 39, 43, 0.9);
color: aliceblue;
height: fit-content;
width: fit-content;
padding: 0px 250px 0px 250px;
display: block;
}

.text {
background-color: rgba(33, 37, 41, 0.9);
border-radius: 10px 10px 0 0;
padding: 5px;
color: aliceblue;
height: fit-content;
width: fit-content;
text-align: center;
}

footer {background-color: rgba(33, 37, 41, 0.9);
border-radius: 0px 0px 10px 10px;
padding: 5px;
color: aliceblue;
display: flex;
justify-content: center;
}

input[type="search"] {
background-color: #000000; 
color: white;
border: 1px solid #444;
padding: 5px;
border-radius: 10px;       /*ça  c'est les bords ronds mais jsp si ça colle au thème que tu veux */
height: fit-content;
width: fit-content;
display: block;
margin: 0 auto;
color: aliceblue;
}

.drapeau {display: flex; border-radius: 0px;}
#bleu { height: 100px; 
width: 100px; 
background-color: blue; 
border-radius: 0px;
} 

#blanc { height: 100px; 
width: 100px; 
background-color: white; 
border-radius: 0px;
}

#rouge { height: 100px; 
width: 100px; 
background-color: red; 
border-radius: 0px;
}

h1 {height: fit-content;
width: fit-content;
border-radius: 10px;
padding: 5px;
display: block;
margin: 0 auto;
color: aliceblue;
}

.bouton1 {background-color: rgba(19, 19, 19, 0.9);
border-radius: 10px;
color: azure;
margin: 100px;
}

.bouton2 {background-color: rgba(19, 19, 19, 0.9);
border-radius: 10px;
color: azure;
margin: 100px;
}
